<div class="conatiner-fluid">
  <div class="row">
    <div class="col-md-3" id="dashboard-food-items">
      <h3>Food Items</h3>
      <div class="table">
        <ul class="list-group list-group-flush sortable">
          <li class="ui-state-default list-group-item">Vegetable</li>
          <li class="ui-state-default list-group-item">Carb</li>
          <li class="ui-state-default list-group-item">Protein</li>
          <li class="ui-state-default list-group-item">Fat</li>
        </ul>
      </div>
    </div>
    <div class="col-md-8" id="dashboard-prepper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="http://placekitten.com/150/200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Meal #1</h5>
                <p class="card-text">Meal summary here this is not a sortable section</p>
              </div>
              <ul class="list-group list-group-flush sortable">
                <li class="ui-state-default list-group-item">Vegetable here</li>
                <li class="ui-state-default list-group-item">Carb here</li>
                <li class="ui-state-default list-group-item">Protein here</li>
                <li class="ui-state-default list-group-item">Fat here</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <!-- Image will be a graph breakdown of the meals nutritional breakdown values  -->
              <img class="card-img-top" src="http://placekitten.com/150/200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Meal #2</h5>
                <p class="card-text">Meal summary here this is not a sortable section</p>
              </div>
              <ul class="list-group list-group-flush sortable">
                <li class="ui-state-default list-group-item">Vegetable here</li>
                <li class="ui-state-default list-group-item">Carb here</li>
                <li class="ui-state-default list-group-item">Protein here</li>
                <li class="ui-state-default list-group-item">Fat here</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="http://placekitten.com/150/200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Meal #3</h5>
                <p class="card-text">Meal summary here this is not a sortable section</p>
              </div>
              <ul class="list-group list-group-flush sortable">
                <li class="ui-state-default list-group-item">Vegetable here</li>
                <li class="ui-state-default list-group-item">Carb here</li>
                <li class="ui-state-default list-group-item">Protein here</li>
                <li class="ui-state-default list-group-item">Fat here</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="http://placekitten.com/150/200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Meal #4</h5>
                <p class="card-text">Meal summary here this is not a sortable section</p>
              </div>
              <ul class="list-group list-group-flush sortable">
                <li class="ui-state-default list-group-item">Vegetable here</li>
                <li class="ui-state-default list-group-item">Carb here</li>
                <li class="ui-state-default list-group-item">Protein here</li>
                <li class="ui-state-default list-group-item">Fat here</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <!-- Image will be a graph breakdown of the meals nutritional breakdown values  -->
              <img class="card-img-top" src="http://placekitten.com/150/200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Meal #5</h5>
                <p class="card-text">Meal summary here this is not a sortable section</p>
              </div>
              <ul class="list-group list-group-flush sortable">
                <li class="ui-state-default list-group-item">Vegetable here</li>
                <li class="ui-state-default list-group-item">Carb here</li>
                <li class="ui-state-default list-group-item">Protein here</li>
                <li class="ui-state-default list-group-item">Fat here</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" ''>
              <img class="card-img-top" src="http://placekitten.com/150/200" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Meal #6</h5>
                <p class="card-text">Meal summary here this is not a sortable section</p>
              </div>
              <ul class="list-group list-group-flush sortable">
                <li class="ui-state-default list-group-item">Vegetable here</li>
                <li class="ui-state-default list-group-item">Carb here</li>
                <li class="ui-state-default list-group-item">Protein here</li>
                <li class="ui-state-default list-group-item">Fat here</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
