<%= javascript_include_tag('add_to_list.js') %>

<div class="modal-dialog" role="document">
  <div class="modal-content" id="create-food-item-modal">
    <div class="modal-header">
      <h5 class="modal-title">Add food to <strong>No Carb meal 1</strong></h5>
      <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-row">
        <div class="col">
          <p class="modal-item-text">oz or g:</p>
        </div>
        <div class="col">
          <input class="form-control"  id="meal-card-amount" type="text" name="" placeholder="amount example: 150" value="">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" id="add-card-btn" data-dismiss="modal" onclick="addFoodItemsToList()">+ Add to card</button>
      <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
