<div class="card daily-card" id="meow">
  <ul class="list-group list-group-flush meal-list">
    <li class="list-group-item"><h1 class="display-4 meal-card-header">meal 1</h1></li>
    <div class="meal-card-header">
      <form action="index.html" method="get">
        <button type="button" class="btn btn-success add-search-btn" data-toggle="modal" data-target="#addFoodToCardModal" id="add-search-button" onclick="grabFoodValues()">
          + Add from search
        </button>
      </form>
    </div>
    <li class="list-group-item">
      <ul class="list-inline">
        <li class="list-inline-item card-protein">Protein 80g</li>
        <li class="list-inline-item card-fat">Fat 200g</li>
        <li class="list-inline-item card-carbs">Carbs 325g</li>
      </ul>
    </li>
    <li class="list-group-item">
      <ul class="list-inline meal-card-list">
        <ul class="list-inline">
          <!-- Food List items are appended here  -->
        </ul>
      </ul>
    </li>
    <div class="modal fade" id="addFoodToCardModal" tabindex="-1" role="dialog" aria-labelledby="createFoodModalLabel" aria-hidden="true">
      <%= render 'application_partials/add_food_to_card' %>
    </div>
  </ul>
</div>
