<div class="card" style="width: 16rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h2>Average Daily Macro Summary</h2></li>
    <li class="list-group-item card-protein">Protein: 0g</li>
    <li class="list-group-item card-fat">Fat: 0g</li>
    <li class="list-group-item card-carbs">Carbs: 0g</li>
  </ul>
</div>
