<div class="card daily-card" >
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h2>Meal 1 Summary</h2></li>
    <button type="button" class="btn btn-success">+ New Meal</button>
    <li class="list-group-item">Protein: 0g | Fat: 0g | Carbs: 0g</li>
    <li class="list-group-item">Salmon 75g</li>
    <li class="list-group-item">Lentils 25g</li>
    <li class="list-group-item">Almonds 32g</li>
  </ul>
</div>
