<div class="card daily-card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><h2>Meal 1 Summary</h2></li>
    <%= link_to 'Meow', create_item_path, method: :get %>
    <li class="list-group-item">Protein: 0g | Fat: 0g | Carbs: 0g</li>
    <li class="list-group-item">Salmon 75g</li>
    <li class="list-group-item">Lentils 25g</li>
    <li class="list-group-item">Almonds 32g</li>
  </ul>
</div>
