// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dashboard-food-items {
  background-color: red;
}

#dashboard-prepper {
  background-color: yellow;
}

.list-group-item {
  color: black;
}

.container {
  display: flex;
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
}
