.daily-row {
  padding: 0px;
}

.odd-col {
  background-color:#e0f0e8;
}

.daily-lane {
  padding: 18px;
}

#search-food-item{
  margin-bottom: 10px;
}

.header-row {
  margin-bottom: 10px;
}

.add-meal-button {
  width: 125px;
  align-self: center;
}

.new-meal-button {
  width: 120px;
  align-self: center;
}

.meal-card-header {
  text-align: center;
}

.modal-item-text {
  text-align: center;
}
