.navbar{
  padding: 0px;
}
.daily-row {
  padding: 0px;
}

#add-search-button{
  margin: 7px;
}

.daily-card{
  margin-top: 15px;
}

#create-food-modal{
  margin-left: 10px;
}

.odd-col {
  background-color:#3dc166;
}

.daily-lane {
  padding: 18px;
  border-top: 1px solid;
}

.header-row {
  margin-bottom: 10px;
}

.add-meal-button {
  width: 125px;
  align-self: center;
}

.new-meal-button {
  width: 120px;
  align-self: center;
}

.meal-card-header {
  text-align: center;
}

.modal-item-text {
  text-align: center;
}

#meal-card-name {
  width: 100%
}
